# /etc/systemd/system/LedApi.service

[Unit]
Description=Control Center LED API Service
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/ubuntu/iot-control-center/Api
ExecStart=/home/ubuntu/iot-control-center/Api/ShellScripts/start.sh
ExecStop=/home/ubuntu/iot-control-center/Api/ShellScripts/stop.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target