# /etc/systemd/system/bulb-controller.service

[Unit]
Description=Kasa Smart Bulb Controller Service
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/ubuntu/iot-control-center/BulbController
ExecStart=/home/ubuntu/iot-control-center/BulbController/ShellScripts/start.sh
ExecStop=/home/ubuntu/iot-control-center/BulbController/ShellScripts/stop.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target