# /etc/systemd/system/ControlCenterUi.service

[Unit]
Description=Control Center UI Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/ubuntu/led-control-center/ControlCenterUi
ExecStart=/home/ubuntu/led-control-center/ControlCenterUi/ShellScripts/start.sh
ExecStop=/home/ubuntu/led-control-center/ControlCenterUi/ShellScripts/stop.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target