# /etc/systemd/system/IotControlCenterUi.service

[Unit]
Description=UI Service for IoT Control Center
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/ubuntu/iot-control-center/IotControlCenterUi
ExecStart=/home/ubuntu/iot-control-center/IotControlCenterUi/ShellScripts/start.sh
ExecStop=/home/ubuntu/iot-control-center/IotControlCenterUi/ShellScripts/stop.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target