# /etc/systemd/system/LedController.service

[Unit]
Description=Control Center LED API Service
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/pi/iot-control-center/LedController
ExecStart=/home/pi/iot-control-center/LedController/ShellScripts/start.sh
ExecStop=/home/pi/iot-control-center/LedController/ShellScripts/stop.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target