# /etc/systemd/system/LedController.service

[Unit]
Description=Control Center LED API Service
Requires=docker.service
After=docker.service UpdateControlCenter.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/pi/led-control-center/LedController
ExecStart=/home/pi/led-control-center/LedController/ShellScripts/start.sh
ExecStop=/home/pi/led-control-center/LedController/ShellScripts/stop.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target