# /etc/systemd/system/LedController.service

[Unit]
Description=Control Center LED API Service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/pi/led-control-center
ExecStart=/home/pi/led-control-center/update.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target